# 1. 모든 환경 변수 파일 무시 (보안 키 유출 방지)
**/*.env
**/*.env.*
backend.env

# 2. 실행 파일 및 불필요한 바이너리 무시
**/ngrok
ngrok

# 3. 로컬 테스트용 가상 환경 및 캐시 무시
**/venv
**/__pycache__
**/.pytest_cache
**/.git
**/.gitignore
**/.idea
**/.vscode
