# MongoDB
MONGO_HOST=192.168.0.36
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=your_secure_password
MONGO_AUTH_DB=admin

# AWS (If used)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1

# Clova OCR
CLOVA_OCR_API_URL=https://your-api-url
CLOVA_OCR_SECRET_KEY=your_secret_key

# Elasticsearch
ELASTICSEARCH_URL=http://192.168.0.36:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=your_elastic_password
