# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Serverless Framework
.serverless/
node_modules/
*.zip
.requirements/
.requirements.zip
package-lock.json
